
[Unit]
Description=ssh reverse tunnel for remote management
After=network-online.target

[Service]
ExecStart=/usr/bin/ssh -i /home/pi/.ssh/id_rsa -R {{phone_home_proxy_port}}:localhost:22 -N {{phone_home_gw_proxy_user}}@{{phone_home_gw_proxy_host}}
ExecReload=/usr/bin/ssh -i /home/pi/.ssh/id_rsa -R {{phone_home_proxy_port}}:localhost:22 -N {{phone_home_gw_proxy_user}}@{{phone_home_gw_proxy_host}}
Restart=always
RestartSec=30

[Install]
WantedBy=multi-user.target
